#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.passMarks {
  color: green;
}

.failMarks {
  color: red;
}

/* SRP */
.btn-primary-bg {
  background-color: red;
}

.btn-primary-txt {
  color: blue;
}

.btn-secondary-bg {
  background-color: gray;
}

.btn-secondary-txt {
  color: green;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 8px;
}

.btn-md {
  padding: 10px 20px;
  font-size: 12px;
}

.btn-lg {
  padding: 15px 30px;
  font-size: 15px;
}